@model IEnumerable<OnlineRetailer.Areas.Admin.Models.ItemModel>

@using OnlineRetailer.Areas.Admin.Models;


@{
    ViewBag.Title = "Elini Barokas";
}


<div>
    <div>
        <img class="manufacturer-banner-large" src="~/Content/Images/General/EliniBannerLarge.jpg" alt="" />
    </div>
    <div>
        <br />
        <h4>
            Elini Barokas foundation as a jewelry brand makes its watch collections a class act. The Belgium-based company shows off its star power in designs that include classic round
            cases with the addition of bright, bold colors. Refined dress and daily wear styles that include Swiss-made quartz movements, diamond embellishments and trendy polycarbonate
            bracelets are also among the selections at Chopard.
        </h4>
    </div>
</div>

@Html.Partial("_ItemThumbnailAreaPartial", Model)