@model IEnumerable<OnlineRetailer.Areas.Admin.Models.ItemModel>

@using OnlineRetailer.Areas.Admin.Models;


@{
    ViewBag.Title = "Invicta";
}

<div>
    <div>
        <img class="manufacturer-banner-large" src="~/Content/Images/General/InvictaBannerLarge.jpg" alt="" />
    </div>
    <div>
        <br />
        <h4>
            Invicta Watches are among the most popular men's and women's timepieces in the world. The brand's name comes from the Latin term "invincible"
            <br />and their bold, innovative designs, matched to their impeccable quality, outstanding good looks and affordability have made them invincible leaders in the watch industry. Shop today's most popular styles from the Bolt, Jason Taylor, Russian Diver and Subaqua collections...all at prices
            <br />too good to miss! Learn more about <a href="https://www.invictawatch.com/">Invicta</a> watches.
        </h4>
    </div>
</div>

@Html.Partial("_ItemThumbnailAreaPartial", Model)