@model IEnumerable<OnlineRetailer.Areas.Admin.Models.ItemModel>

@using OnlineRetailer.Areas.Admin.Models;


@{
    ViewBag.Title = "Lucien Picard";
}


<div>
    <div>
        <img class="manufacturer-banner-large" src="~/Content/Images/General/LucienBannerLarge.jpg" alt="" />
    </div>
    <div>
        <br />
        <h4>
            A little boasting is always in order when you discover the superior quality of Lucien Piccard. First, there is a Swiss reputation that began in 1923,
            giving these collections an illustrious lineage. There are even more reasons to make your selections at Chopard with styles that incorporate
            sparkling crystals, elegantly patterned dials and stunning two-tone finishes. Learn more about <a href="http://www.lucienpiccardusa.com/">Lucien Piccard</a>.
        </h4>
    </div>
</div>

@Html.Partial("_ItemThumbnailAreaPartial", Model)