@model IEnumerable<OnlineRetailer.Areas.Admin.Models.ItemModel>

@using OnlineRetailer.Areas.Admin.Models;


@{
    ViewBag.Title = "Swiss Legend";
}

<div>
    <div>
        <img class="manufacturer-banner-large" src="~/Content/Images/General/SwissBannerLarge.jpg" alt="" />
    </div>
    <div>
        <br />
        <h4>
            Swiss Legend brings time-honored values to its modern designs, producing watches that are well beyond the ordinary. You'll always have color
            and style options in collections featured at World of Watches that are intuitively timeless while garnering attention for in-the-moment details.
            Automatic and quartz movements provide exceptional precision that works in tandem with a redefinition of how timepieces should really
            be perceived. Learn more about <a href="http://www.swisslegend.com/">Swiss Legend</a>.
        </h4>
    </div>
</div>

@Html.Partial("_ItemThumbnailAreaPartial", Model)
