<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu" role="menu">

        <li class="dropdown-header">Minor Entities</li>
        <li class="divider" />
        <li><a href="/Admin/Item">&nbsp;&nbsp;Items</a></li>
        <li><a href="/Admin/Category">&nbsp;&nbsp;Categories</a></li>
        <li><a href="/Admin/Feature">&nbsp;&nbsp;Features</a></li>
        <li><a href="/Admin/Customer">&nbsp;&nbsp;Customers</a></li>
        <li><a href="/Admin/Purchase">&nbsp;&nbsp;Purchases</a></li>
        <li><a href="/Admin/Detail">&nbsp;&nbsp;Details</a></li>
        <li class="divider" />

        <li class="dropdown-header">Connector Entities</li>
        <li class="divider" />
        <li><a href="/Admin/ItemFeature">&nbsp;&nbsp;Item Feature</a></li>
        <li><a href="/Admin/PurchaseItem">&nbsp;&nbsp;Purchase Item</a></li>
        <li><a href="/Admin/PurchaseDetail">&nbsp;&nbsp;Purchase Detail</a></li>
    </ul>
</li>

