@model OnlineRetailer.Entities.Manufacturer

<div>
    <div>
        <img class="thumb-img" src="@Html.DisplayFor(m => m.BannerUrl)" alt="" />
    </div>
    <div>
        <br />
        <p>@Html.DisplayFor(m => m.Summary)</p>
    </div>
</div>