

<td style="width:120px;">
    <div class="btn-group" role="group">
        @Html.Partial("_EditButtonPartial")
        @Html.Partial("_DetailsButtonPartial")
        @Html.Partial("_DeleteButtonPartial")
    </div>
</td>


