@{
    ViewBag.Title = "Home Page";
}

<div class="banner-large">
    <a><img src="~/Content/Images/General/Banner.jpg" /></a>
</div>



<div>
    <div class="featured-brands">
        <a class="item item-1" href="#"><img src="~/Content/Images/General/EliniBannerSmall.jpg" /></a>
        <a class="item item-2" href="#"><img src="~/Content/Images/General/InvictaBannerSmall.jpg" /></a>
        <a class="item item-3" href="#"><img src="~/Content/Images/General/LPBannerSmall.jpg" /></a>
        <a class="item item-4" href="#"><img src="~/Content/Images/General/SLBannerSmall.jpg" /></a>
    </div>
</div>


@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@