@model IEnumerable<OnlineRetailer.Models.ThumbnailAreaModel>


@{
    ViewBag.Title = "Home Page";
}

<div class="banner-large">
    <a><img src="~/Content/Images/General/Banner.jpg" /></a>
</div>

<div>
    <div><h2>Daily Deals</h2></div>
</div>

@foreach(var area in Model)
{
    @Html.Partial("_ThumbnailAreaPartial", area)
}

<div>
    <div class="featured-brands">
        <a class="item item-1" href="#"><img src="~/Content/Images/General/EliniBannerSmall.jpg" /></a>
        <a class="item item-2" href="#"><img src="~/Content/Images/General/InvictaBannerSmall.jpg" /></a>
        <a class="item item-3" href="#"><img src="~/Content/Images/General/LPBannerSmall.jpg" /></a>
        <a class="item item-4" href="#"><img src="~/Content/Images/General/SLBannerSmall.jpg" /></a>
    </div>
</div>


