body {
}

/*#admin { margin-top: 55px; margin-left: 30px; }
#register {margin-top: 55px;  }
#sign-in {margin-top: 55px; }
.home-logo {margin-top: 15px; }*/

#admin > a:hover { color: #b70000; background-color: white; }
