body {
    padding-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1242px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/****************************************  HOME/INDEX  **********************************/
.banner-large { width: 1242px; height: 402px; margin: 0 auto; }
.featured-brands { width: 1242px; }
.item { }
.top-brands {}
.item-1 { margin-left: 3px; }
.item-2 { margin-left: 15px; }
.bottom-brands { margin-top: 20px; }
.item-3 { margin-left: 3px; }
.item-4 { margin-left: 15px; }
#daily-deals { margin-left: 540px; margin-top: 40px; margin-bottom: 40px}

/****************************************  ELINI BAROKAS  **********************************/
.manufacturer-banner-large { width: 1300px; margin-left: -45px; }